<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>胡总的工具箱</title>
	<meta charset="utf-8"/>
	<meta name="author" content="pixelhint.com"/>
	<link rel="stylesheet" type="text/css" href="/download_st/css/reset.css"/>
	<link rel="stylesheet" type="text/css" href="/download_st/css/main.css"/>
</head>
<body>

	<section class="main wrapper" th:each="down:${downloadList}">
		<article>
			<div class="article_image">
				<img src="/download_st/img/pic1.jpg" th:src="@{'/download_st/img/'+${down.pict}}"/>
			</div>
			<div class="post">
				<h1 class="title" th:text="${down.name}">工具名字</h1>
				
				<p th:text="${down.exp}">软件说明</p>

				<a class="read_more" href="#" th:href="@{'/download_st/file/'+${down.url}}">下载<i class="read_more_arrow"></i> </a>
			</div>
		</article>
	</section>

</body>
</html>