<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>泽康集团在线办公系统</title>

    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css"/>

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <!--[if lt IE 9]>

    <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"/>
    <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"/>
    <![endif]-->

    <!-- CSS -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500"/>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/assets/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/assets/css/form-elements.css"/>
    <link rel="stylesheet" href="/assets/css/style.css"/>

    <!-- Favicon and touch icons -->
    <link rel="shortcut icon" href="/assets/ico/favicon.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="144x144"
          href="/assets/ico/apple-touch-icon-144-precomposed.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="114x114"
          href="/assets/ico/apple-touch-icon-114-precomposed.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="72x72"
          href="/assets/ico/apple-touch-icon-72-precomposed.png"/>
    <link rel="apple-touch-icon-precomposed" href="/static/assets/ico/apple-touch-icon-57-precomposed.png"/>
    <script src="/assets/js/ajax.js"/>
</head>

<body>

<!-- Top content -->
<div class="top-content">
    <div class="inner-bg">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 text">
                    <h1><strong>泽康集团</strong>在线办公系统</h1>
                    <div class="description">
                        <p>
                            Think Difference
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3 form-box">
                    <div class="form-top">
                        <div class="form-top-left">
                            <h3 id="welcome">欢迎回来</h3>
                            <p id="hint">输入您的员工号与密码登录系统</p>
                        </div>
                        <div class="form-top-right">
                            <i class="glyphicon glyphicon-user"></i>
                        </div>
                    </div>
                    <div class="form-bottom">
                        <div class="form-group">
                            <input type="text" placeholder="员工号" class="form-username form-control" id="number"/>
                        </div>
                        <div class="form-group">
                            <input type="password" placeholder="密码" class="form-password form-control" id="password"/>
                        </div>
                        <button class="btn btn-success btn-block" id="l">登录</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3 social-login">
                    <a class="glyphicon glyphicon-question-sign" href="#" id="forget">忘记密码</a>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Javascript -->
<script src="/assets/js/jquery-1.11.1.min.js"/>
<script src="/assets/bootstrap/js/bootstrap.min.js"/>
<script src="/assets/js/jquery.backstretch.min.js"/>
<script src="/assets/js/scripts.js"/>

<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>