<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>胡总的私房菜</title>
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css"/>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link href="/index_main/css/pushy-buttons.css" rel="stylesheet"/>
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>

</head>
<body style="background-color: #222222">
<div style="position:relative; width:100% ;">

    <div th:switch="${sig}">
        <img th:case="'phone'" width="100%" src="/index_main/3.jpg"/>
        <video th:case="*" width="100%" loop="loop" muted="muted" autoplay="autoplay" src="/index_main/m.mp4"></video>
    </div>

    <div style="position:absolute; left:20%;top:30%;">
        <a class="btn btn--md btn--blue" href="/log">浏览记录</a></div>
</div>

<div class="container-fluid">
    <div class="col-xs-6">
        <a href="/download">
            <img class="img-responsive" src="/index_main/1.jpg"/>
            <h1 align="center" style="color: #FFFFFF">胡总的工具箱</h1>
        </a>
    </div>
    <div class="col-xs-6">
        <a href="/web">
            <img class="img-responsive" src="/index_main/2.jpg"/>
            <h1 align="center" style="color: #FFFFFF">泽康集团在线办公系统</h1>
        </a>
    </div>
</div>
</body>
</html>